.App {
  text-align: center;
}

.App-hangman-game,
.App-alphabet-letter,
.App-win {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  margin: auto;
  user-select: none;
}

.App-alphabet-letter {
  width: 80%;
}

.App-hangman-game > .card,
.App-alphabet-letter > .letter {
  font-size: 2em;
  flex: 1 1 calc(100% / 10 - 0.4em);
  outline: 0.08em solid silver;
  margin: 0.2em;
  display: flex;
  cursor: pointer;
}

.App-alphabet-letter > .letter {
  flex: 1 1 calc(100% / 13 - 0.4em);
}

.App-hangman-game > .card.hidden,
.App-alphabet-letter > .letter {
  background: silver;
}

.App-hangman-game > .card.justMatched {
  outline: 0.1em solid green;
}
.App-hangman-game > .card.justMismatched {
  outline: 0.1em solid red;
}

.App-hangman-game > .card.visible,
.App-alphabet-letter > .letter.alreadyClicked {
  cursor: not-allowed;
}

.App-hangman-game > .card > .symbol,
.App-alphabet-letter > .letter > .symbol {
  margin: auto;
}

.App-win .text {
  margin: 10px auto;
  font-weight: bold;
  text-transform: uppercase;
  color: green;
}
